@import url("https://fonts.googleapis.com/css?family=Roboto:300");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right bottom, #873572, black);
}
a {
  display: inline-block;
  color: lightgrey;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  padding: 12px;
  border: 1px solid white;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  margin: 20px;
}

a:hover {
  background: rgba(70, 65, 65, 0.23);
  color: white;
  transform: scale(1.03);
  text-decoration: none;
}
a:active {
  transform: scale(0.98);
}


.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}


/* 
h1{
  margin-top: 20px;
} */

.cartbutton{
    border: 0;
    line-height: 2.5;
    padding: 0 55px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: black;
    margin-top: 60px;


  }
  
  .cartbutton:hover {
    background-color:#fff;
    color: black;
  }
  

  

img{
  width:200px;
  height:200px;
  margin:10px;
}

.button{
  
  background-color:#fff;
  color: black;
  border: 0;
  line-height: 2.5;
  padding: 0 100px;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  margin-top: 60px;
}
.button:hover {
  background-color: black;
  color: #fff;
 
}
.material-symbols-outlined{
color:white;

}
